.is-active { display: block; }
.is-inactive { display: none; }

body, html {
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-width: 320px;
	min-height: 480px;
}
.top-fill {
  height: 5px;
  background: #486C8C;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  &:after, &:before {
	content: "";
	display: block;
	width: 33.3%;
	height: 5px;
	top: 0;
	position: absolute;
  }
	&:before {
		left: 0;
		background: #22A84B;
	}
	&:after {
		right: 0;
		background: #E6BD34;
	}
}

.btn {
	box-shadow: inset 0 -5px 0 rgba(0,0,0,.2);
	font-size: 18px;
	text-transform: uppercase;
	font-family: "Bree Serif", serif;
	&.btn-large {
		padding: 20px;
	}
}


.japanese {
		position: fixed;
		bottom: 0;
		z-index: 9;
		background: url(../img/japanese.png) no-repeat;
		width: 148px;
		height: 290px;
		background-size: 148px 290px;
		right: -148px;
		@include transition(.1s all linear);
		&.is-active { right: 0; }
	}