.is-active { display: block; }
.is-inactive { display: none; }

.top-fill {
  height: 5px;
  background: #486C8C;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  &:after, &:before {
	content: "";
	display: block;
	width: 33.3%;
	height: 5px;
	top: 0;
	position: absolute;
  }
	&:after {
		left: 0;
		background: #22A84B;
	}
	&:before {
		right: 0;
		background: #E6BD34;
	}
}