.is-active {
  display: block; }

.is-inactive {
  display: none; }

body, html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px; }

.top-fill {
  height: 5px;
  background: #486C8C;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9; }
  .top-fill:after, .top-fill:before {
    content: "";
    display: block;
    width: 33.3%;
    height: 5px;
    top: 0;
    position: absolute; }
  .top-fill:before {
    left: 0;
    background: #22A84B; }
  .top-fill:after {
    right: 0;
    background: #E6BD34; }

.btn {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Bree Serif", serif; }
  .btn.btn-large {
    padding: 20px; }

.japanese {
  position: absolute;
  bottom: 0;
  z-index: 9;
  background: url(../img/japanese.png) no-repeat;
  width: 148px;
  height: 290px;
  background-size: 148px 290px;
  right: -148px;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  transition: 0.1s all linear; }
  .japanese.is-active {
    right: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: whitesmoke; }

#intro {
  width: 100%;
  height: 100%;
  background: url(../img/pattern-gray.png) whitesmoke;
  position: absolute;
  text-align: center;
  overflow: auto;
  min-width: 320px;
  min-height: 480px; }
  #intro:not(.is-inactive) {
    display: block; }
  #intro p {
    font-size: 16px; }
  #intro .page-header {
    max-width: 720px;
    margin: 0 auto 20px; }
    #intro .page-header h1 {
      font-family: 'Bree Serif', serif;
      font-size: 72px;
      margin: 40px auto; }

@media screen and (max-width: 960px) {
  #intro .page-header h1 {
    font-size: 52px; } }
@media screen and (max-width: 760px) {
  #intro .page-header h1 {
    font-size: 42px;
    margin: 30px auto; }

  #intro p {
    font-size: 16px; } }
@media screen and (max-width: 480px) {
  #intro .page-header h1 {
    font-size: 26px;
    margin: 20px auto; }

  #intro .btn {
    font-size: 14px; } }
#result {
  position: absolute;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 500px rgba(0, 0, 0, 0.8);
  text-align: center;
  overflow: auto; }
  #result .page-header h1 {
    font-family: "Bree Serif", serif;
    font-size: 42px; }
  #result .name {
    font-family: "Bree Serif", serif; }
  #result .description {
    max-width: 400px;
    margin: 0 auto;
    font-size: 18px; }
  #result .prices {
    margin: 20px auto;
    font-size: 22px; }
    #result .prices strong {
      display: block; }
  #result .btn {
    padding: 20px;
    display: block;
    margin: 20px auto;
    font-family: "Bree Serif", serif;
    text-transform: uppercase;
    font-size: 18px;
    max-width: 100%; }

@media screen and (max-width: 760px) {
  #result .btn {
    padding: 15px;
    margin: 0 auto 10px; } }
@media screen and (max-width: 480px) {
  #result {
    padding-bottom: 40px; }

  #result .page-header h1 {
    font-size: 26px; }

  #result img {
    width: 100px;
    height: auto;
    margin: 0 auto; }

  #result .name {
    font-size: 22px; }

  #result .description {
    font-size: 14px; }

  #result .prices {
    margin: 10px auto;
    font-size: 18px; }

  #result .btn {
    margin: 0; } }

/*# sourceMappingURL=app.css.map */
